<h2>Albums</h2>

<table id="albums">

<% @albums.each do |album| %>

<tr>
    <td>
        <a href="/albums/<%= album.id %>"><img src="/images/<%= album.artwork %>"  alt ="Artwork for <%= album.name %>">
    </td>
    <td>
        <a href="/albums/<%= album.id %>"><%= album.name %>
    </td>
    <td>
        <a href="/albums/<%= album.id %>/edit">Edit/Delete</a>
    </td>
</tr>

<% end %>

</table>

<p><a href="/albums/new">Add new album</a></p>