<h2><%= @album.name %></h2>


<p><a href="/artists/<%=@album_artist.id%>"><%= @album_artist.name %></a></p>





<p>
<img class="singleartwork" src="/images/<%= @album.artwork%>" alt="Artwork for <%= @album.name%>">
</p>


<p><a href="/albums/<%= @album.id %>/edit">Update this album</a></p>

<form action="/artists/<%= @album.id %>" method="post">
    <input type="submit" value="Delete">
    <input type="hidden" name="_method" value="delete">
</form>
